# Ignore IntelliJ IDEA project files
.idea/

# Ignore build output directories
build/
*/build/

# Ignore Gradle files
.gradle/

# Ignore System files
*.iml
*.log
.DS_Store
Thumbs.db
.vscode/

# Application Properties
code/jvm/STC-SM-Backend/app/src/main/resources/application.properties